<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERP</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.min.js")

</head>
<body id="htmlBody" style="display: none">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ERP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <audio tabindex="0" id="dubstepControl" controls loop preload="auto" hidden>
            <source src="Content/Sounds/DubstepShort.mp3">
        </audio>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Startseite", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })
                </li>

                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Kunden", "Index", "Kunde", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Waren", "Index", "Waren", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Lager", "Index", "Lager", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Aufträge", "Index", "Auftrag", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                }

            </ul>
            <ul class="navbar-nav">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div class="container body-content" id="containerDiv">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container" style="margin-bottom: 0">
            <span><img src="~/Content/Logos/LogoCopyrightException_Simple.png" height="30" /> Copyright Exception - @DateTime.Now.Year</span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script>
    $(document).ready(function () {
        $(".detail-body input").each(function () {
            $(this).prop("disabled", true);
        });

        $("#htmlBody").fadeIn();
    });
</script>
</body>
</html>