<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERP</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap4.min.js")

</head>
<body id="htmlBody" style="display: none">
    
    <div class="container body-content" id="containerDiv">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".detail-body input").each(function () {
                $(this).prop("disabled", true);
            });

            $("#htmlBody").fadeIn();
        });
    </script>
</body>
</html>