@using ERPv1.Extensions
@model ERPv1.Models.ViewModels.RechnungViewModel

@{
    ViewBag.Title = "_Rechnung";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<div style="padding: 15px; border: 1px solid black; min-width: 700px; max-width: 700px;">
    <!-- HEADER -->
    <div class="row">
        <div class="col-8">
            <h4>Rechnung - Auftrag: @(Model.Auftrag.ID)</h4>
            <span class="small">@(DateTime.Now.ToString("dd.MM.yyyy"))</span>
        </div>
        <div class="col-4">
            <img src="~/Content/Logos/LogoCopyrightException.png" width="150" height="90" class="float-right" />
        </div>
    </div>

    <!-- HEADER CONTACT INFOS -->
    <div class="row" style="margin-top: 50px; font-size: 12px">
        <div class="col">
            <span>
                @(Model.Auftrag.Kunde.KurzBezeichnung)<br />
                @(Model.Auftrag.Kunde.Vorname + " " + Model.Auftrag.Kunde.Nachname)<br />
                @(Model.Auftrag.Kunde.Addresse)<br />
                @(Model.Auftrag.Kunde.Ort + ", " + Model.Auftrag.Kunde.PLZ)<br />
                Deutschland
            </span>
        </div>
        <div class="col">
            <div class="float-right">
                <span>
                    Copyright Exception GmbH<br />
                    Max Mustermann<br />
                    Musterstraße 8<br />
                    Hamburg 20145<br />
                    Deutschland
                </span>
            </div>
        </div>
    </div>

    <!-- CONTRACT DETAILS -->
    <div class="row" style="margin-top: 50px; font-size: 12px">
        <div class="col">
            <span class="font-weight-bold">
                Auftragsbezeichnung
            </span>
            <br />
            <span class="small">@(Model.Auftrag.Bezeichnung)</span>
        </div>
        <div class="col">
            <span class="font-weight-bold">
                Bearbeiter
            </span>
            <br />
            <span class="small">@(Model.Auftrag.Bearbeiter.FirstName + " " + Model.Auftrag.Bearbeiter.LastName)</span>
        </div>
        <div class="col">
            <span class="font-weight-bold">
                Lieferant
            </span>
            <br />
            <span class="small">@(Model.Auftrag.Lieferant)</span>
        </div>
        <div class="col">
            <span class="font-weight-bold">
                Rechnungsdatum
            </span>
            <br />
            <span class="small">@(Model.Auftrag.RechnungsDatum)</span>
        </div>
    </div>

    <!-- PRODUCTS -->
    <table class="bill-products table table-striped" style="min-width: 100%;margin-top: 20px">
        <thead>
            <tr>
                <th>Artikelnummer</th>
                <th>Bezeichnung</th>
                <th>Einzelpreis</th>
                <th>Menge</th>
                <th>Gesamtpreis</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            @{
                var gesamtSumme = 0.00;
            }
            @foreach (var auftragWaren in Model.Auftrag.AuftragWaren)
            {
                var ware = auftragWaren.LagerWare.Ware;

                gesamtSumme += auftragWaren.Menge * ware.EinzelPreis;

                <td>@(ware.ArtikelNummer)</td>
                <td>@(ware.KurzBezeichnung)</td>
                <td>@(ware.EinzelPreis.ToEuro())</td>
                <td>@(auftragWaren.Menge)</td>
                <td>@((auftragWaren.Menge * ware.EinzelPreis).ToEuro())</td>
            }
        </tr>
        </tbody>
    </table>

    <div class="row" style="margin-top: 10px; font-size: 12px">
        <div class="col">
            <span class="float-right font-weight-bold">Gesamtsumme: @(gesamtSumme.ToEuro())</span>
        </div>
    </div>
    
    <!-- ADDITIONAL TEXT -->
    <div class="row" style="margin-top: 10px; font-size: 12px">
        <div class="col">
            <span>Zahlbar bis zum: @(DateTime.Now.AddDays(14).ToShortDateString())<br/>
            Vielen Dank für Ihre Bestellung. Bitte empfehlen Sie uns weiter!</span>
        </div>
    </div>

    <!-- FOOTER CONTACT INFOS -->
    <hr />
    <div class="row" style="margin-top: 10px; font-size: 8px">
        <div class="col">
            <span>
                Tel: 040 65475353<br />
                E-Mail: copyrightexception(at)gmail.de
            </span>
        </div>
        <div class="col">
            <div class="float-right">
                <span>
                    Kreissparkkasse HL<br />
                    Konto-Nr: 436735256<br />
                    BLZ: 215 543 65<br />
                    Steuer-Nr: 06436437
                </span>
            </div>
        </div>
    </div>

</div>



