@model ERPv1.Models.IdentityModels.RegisterViewModel
@{
    ViewBag.Title = "Registrieren";
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
        {
            <p class="h4 text-center py-4">Neuen Benutzer registrieren</p>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})

            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>

            <input type="submit" class="btn btn-primary mt-4" value="Registrieren"/>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
