@model ERPv1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Passwort ändern";
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            <p class="h4 text-center py-4">Passwort ändern</p>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.LabelFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.LabelFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Speichern" class="btn btn-primary mt-4" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}