@using ERPv1.Extensions
@model ERPv1.Models.Ware

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Waren")">Übersicht</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<div class="card">
    <div class="card-header">
        Waren Details
    </div>
    <div class="card-body detail-body">
        <div class="row">
            <div class="col-md-6">

                @if (Model?.ID != null && Model.ID != Guid.Empty)
                {
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedOn)

                    @Html.HiddenFor(model => model.ChangedBy)
                    @Html.HiddenFor(model => model.ChangedOn)

                    if (!string.IsNullOrEmpty(Model.DeletedBy))
                    {
                        @Html.HiddenFor(model => model.DeletedBy)
                        @Html.HiddenFor(model => model.DeletedOn)
                    }
                }

                <div class="md-form">
                    @Html.LabelFor(model => model.ArtikelNummer)
                    @Html.EditorFor(model => model.ArtikelNummer, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>

                <div class="md-form">
                    @Html.LabelFor(model => model.Bezeichnung)
                    @Html.EditorFor(model => model.Bezeichnung, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>

                <div class="md-form">
                    @Html.LabelFor(model => model.KurzBezeichnung)
                    @Html.EditorFor(model => model.KurzBezeichnung, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>

                <div class="md-form">
                    @Html.LabelFor(model => model.HerstellerName)
                    @Html.EditorFor(model => model.HerstellerName, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form">
                    @Html.LabelFor(model => model.EinzelPreis)
                    @Html.EditorFor(model => model.EinzelPreis, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>

                <div class="md-form">
                    @Html.LabelFor(model => model.Anzahl)
                    @Html.EditorFor(model => model.Anzahl, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>

                <div class="md-form">
                    @Html.LabelFor(model => model.EinzelGewicht)
                    @Html.EditorFor(model => model.EinzelGewicht, new { htmlAttributes = new { @class = "form-control no-pointer", @readonly = "readonly" } })
                </div>
            </div>
        </div>

        <div class="flex-row card-buttons">
            @Html.ActionLink("Bearbeiten", "Edit", new { id = Model?.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Löschen", "Delete", new { id = Model?.ID }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Zurück zur Liste", "Index", null, new { @class = "btn btn-white text-dark" })
        </div>
    </div>
</div>