@model IEnumerable<ERPv1.Models.Ware>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="indexTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Bezeichnung)</th>
            <th>@Html.DisplayNameFor(x => x.KurzBezeichnung)</th>
            <th>@Html.DisplayNameFor(x => x.EinzelGewicht)</th>
            <th>@Html.DisplayNameFor(x => x.Preis)</th>
            <th>@Html.DisplayNameFor(x => x.Anzahl)</th>
            <th>@Html.DisplayNameFor(x => x.SteuerKlasse)</th>

        </tr>
    </thead>
    <tbody>
    @foreach (var ware in Model)
    {
        <tr>
            <td>@ware.Bezeichnung</td>
            <td>@ware.KurzBezeichnung</td>
            <td>@ware.EinzelGewicht</td>
            <td>@ware.Preis</td>
            <td>@ware.Anzahl</td>
            <td>@ware.SteuerKlasse</td>
        </tr>
    }
    </tbody>
</table>

@Scripts.Render("~/Scripts/ERPScripts/DataTablesConfig.js")