@model ERPv1.Models.Lager

<div class="row">
    <div class="col-md-6">

        @if (Model?.ID != null && Model.ID != Guid.Empty)
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedOn)

            @Html.HiddenFor(model => model.ChangedBy)
            @Html.HiddenFor(model => model.ChangedOn)

            @Html.HiddenFor(model => model.DeletedBy)
            @Html.HiddenFor(model => model.DeletedOn)
        }

        <div class="md-form">
            @Html.LabelFor(model => model.Standort)
            @Html.EditorFor(model => model.Standort, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Standort, "", new { @class = "text-danger" })
        </div>

        <div class="md-form">
            @Html.LabelFor(model => model.Bezeichnung)
            @Html.EditorFor(model => model.Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bezeichnung, "", new { @class = "text-danger" })
        </div>

        <div class="md-form">
            @Html.LabelFor(model => model.Ort)
            @Html.EditorFor(model => model.Ort, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ort, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="md-form">
            @Html.LabelFor(model => model.PLZ)
            @Html.EditorFor(model => model.PLZ, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PLZ, "", new { @class = "text-danger" })
        </div>

        <div class="md-form">
            @Html.LabelFor(model => model.Adresse)
            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

