@model ERPv1.Models.ViewModels.AuftragViewModel
@using ERPv1.Models

<div class="row">
    <div class="col-6">
        @if (Model?.Auftrag != null && Model.Auftrag.ID != Guid.Empty)
        {
            @Html.HiddenFor(model => model.Auftrag.ID)
            @Html.HiddenFor(model => model.Auftrag.CreatedBy)
            @Html.HiddenFor(model => model.Auftrag.CreatedOn)

            @Html.HiddenFor(model => model.Auftrag.ChangedBy)
            @Html.HiddenFor(model => model.Auftrag.ChangedOn)

            @Html.HiddenFor(model => model.Auftrag.DeletedBy)
            @Html.HiddenFor(model => model.Auftrag.DeletedOn)
        }

        <div class="md-form">
            @Html.LabelFor(model => model.Auftrag.Bezeichnung)
            @Html.EditorFor(model => model.Auftrag.Bezeichnung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Auftrag.Bezeichnung, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Auftrag.Kunde)
            @Html.DropDownListFor(model => model.Auftrag.KundeId, Model.Auftrag.KundenAuswahl,  new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Auftrag.Notiz, "", new { @class = "text-danger" })
        </div>

        <div class="md-form">
            @Html.LabelFor(model => model.Auftrag.Lieferant)
            @Html.EditorFor(model => model.Auftrag.Lieferant, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Auftrag.Lieferant, "", new { @class = "text-danger" })
        </div>

        <div class="md-form">
            @Html.LabelFor(model => model.Auftrag.Notiz)
            @Html.EditorFor(model => model.Auftrag.Notiz, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Auftrag.Notiz, "", new { @class = "text-danger" })
        </div>

        <br />


    </div>

    <div class="col-6">

        <div class="md-form">
            @Html.LabelFor(model => model.Auftrag.AuftragsDatum)
            @Html.EditorFor(model => model.Auftrag.AuftragsDatum, new {htmlAttributes = new {@class = "form-control datepicker", @type = "text"}})
            @Html.ValidationMessageFor(model => model.Auftrag.AuftragsDatum, "", new {@class = "text-danger"})
        </div>

        <div class="md-form">
            @Html.LabelFor(model => model.Auftrag.RechnungsDatum)
            @Html.EditorFor(model => model.Auftrag.RechnungsDatum, new {htmlAttributes = new {@class = "form-control datepicker", @type = "text"}})
            @Html.ValidationMessageFor(model => model.Auftrag.RechnungsDatum, "", new {@class = "text-danger"})
        </div>

    </div>
    
    
    

</div>
<div class="row">
    <div class="col-6">
        <h5>Verfügbare Waren</h5>
        <table id="selectionTable" class="table table-striped table-bordered" style="width: 100%; padding-left: 0; padding-right: 0;">
            <thead>
            <tr>
                <th class="no-pointer"></th>
                <th>@Html.DisplayName("Artikelnummer")</th>
                <th>@Html.DisplayName("Bezeichnung")</th>
                <th>@Html.DisplayName("Menge")</th>
                <th>@Html.DisplayName("Lager")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var wvm in Model.Waren)
            {
                <tr>
                    <td></td>
                    <td>@wvm.Ware.ArtikelNummer</td>
                    <td>@wvm.Ware.KurzBezeichnung</td>
                    <td>@wvm.Ware.LagerWaren.Sum(c => c.Menge)</td>
                    <td>@wvm.Ware.LagerWaren.Select(c => c.Lager.Standort)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h5>Ausgewählte Waren</h5>
        <table id="selectionTable2" class="table table-striped table-bordered" style="width: 100%; padding-left: 0; padding-right: 0;">
            <thead>
            <tr>
                <th class="no-pointer"></th>
                <th>@Html.DisplayName("Artikelnummer")</th>
                <th>@Html.DisplayName("Bezeichnung")</th>
                <th>@Html.DisplayName("Menge")</th>
                <th>@Html.DisplayName("Lager")</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Test1</td>
                <td>Test2</td>
                <td>Test3</td>
                <td>Test4</td>
                <td>Test5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


^
<script type="text/javascript">
     $(document).ready(function() {
         $(".datepicker").datepicker();


         $("#selectionTable").bind('mouseenter',
             function() {
                 if ($(this).offsetWidth < $(this).scrollWidth && !$(this).attr('title')) {
                     $(this).attr('title', $(this).text());
                 }
             });


     });
</script>