@model ERPv1.Models.ViewModels.AuftragViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script type="text/javascript">
        $(this).submit(function () {
            for (var i = 0; i < $("#selectionTable2").DataTable().rows().data().length; i++) {
                var entry = $("#selectionTable2").DataTable().rows().data()[i];
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].LWID\" value=\"" +
                    entry.DT_RowId +
                    "\"/>");
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.Artikelnummer\" value=\"" +
                    entry[1] +
                    '"/>');
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.Bezeichnung\" value=\"" +
                    entry[2] +
                    '"/>');
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Menge\" value=\"" +
                    $("#selectionTable2").DataTable().cell(i, 4).nodes().to$().find('input').val() +
                    '"/>');
                $("#hiddenInputs").append("<input type=\"hidden\" name=\"SelectedWaren[" +
                    i +
                    "].Ware.HerstellerName\" value=\"" +
                    entry[3] +
                    '"/>');
            }
        });
    </script>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial("_AuftragInput", Model)

    <div id="hiddenInputs"></div>
    <div class="flex-row card-buttons">
        <input type="submit" value="Speichern" class="btn btn-primary" />

        @Html.ActionLink("Zurück zur Liste", "Index", null, new { @class = "btn btn-white text-dark" })
        
        @if ((User.IsInRole("Administration") || User.IsInRole("Abteilungsleiter")) && !Model.IsCreate)
        {
            <div class="float-right">
                @Html.ActionLink("Auftrag freigeben", "AuftragFreigeben", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Auftrag revisionieren", "AuftragAbweisen", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-warning" })
            </div>
        }
        @if (Model?.AuftragToDo.Status != null && Model.AuftragToDo.Status.Bezeichnung.Equals("Beauftragt") && User.IsInRole("Mitarbeiter"))
        {
            <div class="float-right">
                @Html.ActionLink("Auftrag abschließen", "AuftragAbschliessen", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-success" })
            </div>
        }
        @if (Model?.AuftragToDo.Status != null && Model.AuftragToDo.Status.Bezeichnung.Equals("Abgeschlossen") && User.IsInRole("Abteilungsleiter"))
        {
            <div class="float-right">
                @Html.ActionLink("Rechnung verschicken & herunterladen", "GenerateBillForContract", "Rechnung", new { auftragId = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-success", target = "_blank" })
            </div>
        }
    </div>

}