@using ERPv1.Extensions
@model ERPv1.Models.ViewModels.AuftragViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "Auftrag")">Übersicht</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<div class="card">
    <div class="card-header">
        Auftrag Details - @(Model?.AuftragToDo?.Auftragsnummer.AsContractNumber())
    </div>
    <div class="card-body detail-body">
        @Html.Partial("_AuftragInput", Model)

        <div class="flex-row card-buttons">
            @Html.ActionLink("Bearbeiten", "Edit", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Löschen", "Delete", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Zurück zur Liste", "Index", null, new { @class = "btn btn-white text-dark" })
            
            @if ((User.IsInRole("Administration") || User.IsInRole("Abteilungsleiter")) && !Model.IsCreate)
            {
                <div class="float-right">
                    @Html.ActionLink("Auftrag freigeben", "AuftragFreigeben", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Auftrag revisionieren", "AuftragAbweisen", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-warning" })
                </div>
            }
            @if (Model?.AuftragToDo.Status != null && Model.AuftragToDo.Status.Bezeichnung.Equals("Beauftragt") && User.IsInRole("Mitarbeiter"))
            {
                <div class="float-right">
                    @Html.ActionLink("Auftrag abschließen", "AuftragAbschliessen", new { id = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-success" })
                </div>
            }
            @if (Model?.AuftragToDo.Status != null && Model.AuftragToDo.Status.Bezeichnung.Equals("Abgeschlossen") && User.IsInRole("Abteilungsleiter"))
            {
                <div class="float-right">
                    @Html.ActionLink("Rechnung verschicken & herunterladen", "GenerateBillForContract", "Rechnung", new { auftragId = Model?.AuftragToDo.ID }, new { @class = "btn btn-outline-success" , target = "_blank"})
                </div>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/ERPScripts/SetMaxScreenWidth.js")