@using ERPv1.Extensions
@model ERPv1.Models.Kunde

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Kunde")">Übersicht</a></li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<div class="card">
    <div class="card-header">
        Kunden Details
    </div>
    <div class="card-body detail-body">
        @Html.Partial("_KundenInput", Model)

        <div class="flex-row card-buttons">
            @Html.ActionLink("Bearbeiten", "Edit", new { id = Model?.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Löschen", "Delete", new { id = Model?.ID }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Zurück zur Liste", "Index", null, new { @class = "btn btn-white text-dark" })
        </div>
    </div>
</div>