@using System.Globalization
@using ERPv1.Extensions
@model IEnumerable<ERPv1.Models.Kunde>

@{
    ViewBag.Title = "Kunden Übersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Übersicht</li>
</ol>

<div>

    <h4>@ViewBag.Title</h4>

    <hr />

    <p>
        @Html.ActionLinkWithIcon("Neuen Kunden erstellen", "fa fa-plus-circle", true, "Create", "Kunde", null, new { @class = "btn btn-primary", style = "margin-left:0;" })
    </p>

    <table id="indexTable" class="table table-striped table-bordered" style="width: 100%; padding-left: 0; padding-right: 0;">
        <thead>
            <tr>
                <th class="no-pointer"></th>
                <th>@Html.DisplayNameFor(x => x.Vorname)</th>
                <th>@Html.DisplayNameFor(x => x.Nachname)</th>
                <th>@Html.DisplayNameFor(x => x.Email)</th>
                <th>@Html.DisplayNameFor(x => x.KurzBezeichnung)</th>
                <th>@Html.DisplayNameFor(x => x.IsFirma)</th>
                <th>@Html.DisplayNameFor(x => x.CreatedOn)</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var kunde in Model)
        {
            <tr>
                <td><a href="@Url.Action("Details", "Kunde", new { id = kunde.ID })"><span class="badge badge-default button-column" style="padding: 5px">Details</span></a></td>
                <td>@kunde.Vorname</td>
                <td>@kunde.Nachname</td>
                <td>@kunde.Email</td>
                <td>@kunde.KurzBezeichnung</td>
                <td>@kunde.IsFirma.ToLocalisedString()</td>
                <td>@kunde.CreatedOn.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@Scripts.Render("~/Scripts/ERPScripts/DataTablesConfig.js")
